name: Lint

on:
    push:
        branches: [ main ]
    pull_request:
    schedule:
        - cron: '0 0 1 * *'

jobs:
    tests:
        runs-on: ubuntu-latest
        name: Lint ${{ matrix.check.name }}
        strategy:
            fail-fast: false
            matrix:
                php: [ '8.3' ]
                check:
                    -   name: CS
                        command: make cs_lint

        steps:
            -   name: Checkout
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            -   name: Setup PHP
                uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
                with:
                    php-version: "${{ matrix.php }}"

            -   name: Install Composer dependencies
                uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

            -   name: Run ${{ matrix.check.name }}
                run: ${{ matrix.check.command }}
