name: Lint

on:
    push:
        branches: [ main ]
    pull_request:
    schedule:
        - cron: '0 0 1 * *'

jobs:
    tests:
        runs-on: ubuntu-latest
        name: Lint ${{ matrix.check.name }}
        strategy:
            fail-fast: false
            matrix:
                php: [ '8.3' ]
                check:
                    -   name: CS
                        command: make cs_lint

        steps:
            -   name: Checkout
                uses: actions/checkout@v5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"

            -   name: Install Composer dependencies
                uses: ramsey/composer-install@v3

            -   name: Run ${{ matrix.check.name }}
                run: ${{ matrix.check.command }}
