name: Tests

on:
    push:
        branches: [ main ]
    pull_request:
    schedule:
        - cron: '0 0 1 * *'

permissions: {}

jobs:
    composer-json:
        permissions:
            contents: read
        runs-on: ubuntu-latest
        name: Checks composer.json configuration
        strategy:
            fail-fast: false
            matrix:
                php: [ '8.3' ]
        steps:
            -   name: Checkout
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            -   name: Setup PHP
                uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
                with:
                    php-version: ${{ matrix.php }}

            -   name: Validate Composer configuration
                run: make validate_package

    unit-tests:
        permissions:
            contents: read
        runs-on: ubuntu-latest
        name: Unit tests (PHP ${{ matrix.php }}) with deps=${{ matrix.dependency-versions }}
        strategy:
            fail-fast: false
            matrix:
                php:
                    - '7.4'
                    - '8.0'
                    - '8.1'
                    - '8.2'
                    - '8.3'
                    - '8.4'
                    - '8.5'
                dependency-versions:
                    - highest
                include:
                    - php: '7.4'
                      dependency-versions: lowest
        steps:
            -   name: Checkout
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            -   name: Setup PHP
                uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
                with:
                    php-version: ${{ matrix.php }}

            -   name: Install Composer dependencies
                uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
                with:
                    dependency-versions: ${{ matrix.dependency-versions }}

            -   name: Run tests
                run: make phpunit

    # This is a "trick", a meta task which does not change, and we can use in
    # the protected branch rules as opposed to the tests one above which
    # may change regularly.
    validate-tests:
        name: Tests status
        runs-on: ubuntu-latest
        needs:
            - composer-json
            - unit-tests
        if: always()
        steps:
            - name: Successful run
              if: ${{ !(contains(needs.*.result, 'failure')) }}
              run: exit 0

            - name: Failing run
              if: ${{ contains(needs.*.result, 'failure') }}
              run: exit 1
